In [1]:
#Step 1 Link database
import sqlite3
database = "database.sqlite"
conn = sqlite3.connect(database)
cursor = conn.cursor()
print("Data opened successfully.")

Data opened successfully.

In [2]:
import pandas as pd
tables = pd.read_sql("""SELECT * FROM sqlite_master
                     WHERE type = 'table'""", conn)

In [3]:
tables

,type,name,tbl_name,rootpage,sql
0,table,Player,Player,2,CREATE TABLE [Player] (\n\t[Player_Id]\tintege...
1,table,Extra_Runs,Extra_Runs,3,CREATE TABLE [Extra_Runs] (\n\t[Match_Id]\tint...
2,table,Batsman_Scored,Batsman_Scored,7,CREATE TABLE [Batsman_Scored] (\n\t[Match_Id]\...
3,table,Batting_Style,Batting_Style,10,CREATE TABLE [Batting_Style] (\n\t[Batting_Id]...
4,table,Bowling_Style,Bowling_Style,11,CREATE TABLE [Bowling_Style] (\n\t[Bowling_Id]...
5,table,Country,Country,12,CREATE TABLE [Country] (\n\t[Country_Id]\tinte...
6,table,Season,Season,14,CREATE TABLE [Season] (\n\t[Season_Id]\tintege...
7,table,City,City,15,CREATE TABLE [City] (\n\t[City_Id]\tinteger NO...
8,table,Outcome,Outcome,16,CREATE TABLE [Outcome] (\n\t[Outcome_Id]\tinte...
9,table,Win_By,Win_By,17,CREATE TABLE [Win_By] (\n\t[Win_Id]\tinteger N...
10,table,Wicket_Taken,Wicket_Taken,18,CREATE TABLE [Wicket_Taken] (\n\t[Match_Id]\ti...
11,table,Venue,Venue,21,CREATE TABLE [Venue] (\n\t[Venue_Id]\tinteger ...
12,table,Extra_Type,Extra_Type,23,CREATE TABLE [Extra_Type] (\n\t[Extra_Id]\tint...
13,table,Out_Type,Out_Type,24,CREATE TABLE [Out_Type] (\n\t[Out_Id]\tinteger...
14,table,Toss_Decision,Toss_Decision,25,CREATE TABLE [Toss_Decision] (\n\t[Toss_Id]\ti...
15,table,Umpire,Umpire,26,CREATE TABLE [Umpire] (\n\t[Umpire_Id]\tintege...
16,table,Team,Team,27,CREATE TABLE [Team] (\n\t[Team_Id]\tinteger NO...
17,table,Ball_by_Ball,Ball_by_Ball,28,CREATE TABLE [Ball_by_Ball] (\n\t[Match_Id]\ti...
18,table,sysdiagrams,sysdiagrams,31,CREATE TABLE [sysdiagrams] (\n\t[name]\tnvarch...
19,table,sqlite_sequence,sqlite_sequence,32,"CREATE TABLE sqlite_sequence(name,seq)"
20,table,Match,Match,34,CREATE TABLE [Match] (\n\t[Match_Id]\tinteger ...
21,table,Rolee,Rolee,36,CREATE TABLE [Rolee] (\n\t[Role_Id]\tinteger N...
22,table,Player_Match,Player_Match,37,CREATE TABLE [Player_Match] (\n\t[Match_Id]\ti...

In [4]:
tables = pd.read_sql("""SELECT * FROM Batsman_Scored""", conn)

In [5]:
tables

        Match_Id  Over_Id  Ball_Id  Runs_Scored  Innings_No
0         335987        1        1            0           1
1         335987        1        1            1           2
2         335987        1        2            0           1
3         335987        1        3            0           2
4         335987        1        4            0           1
...          ...      ...      ...          ...         ...
133092    981024       20        4            0           2
133093    981024       20        5            1           1
133094    981024       20        5            1           2
133095    981024       20        6            6           1
133096    981024       20        6            4           2

[133097 rows x 5 columns]

In [6]:
tables = pd.read_sql("""SELECT MAX(Runs_Scored) FROM Batsman_Scored""", conn)

In [7]:
tables

   MAX(Runs_Scored)
0                 6

In [8]:
tables = pd.read_sql("""SELECT MAX(Ball_Id) FROM Batsman_Scored""", conn)

In [9]:
tables

   MAX(Ball_Id)
0             9

In [11]:
tables = pd.read_sql("""SELECT SUM(Runs_Scored) FROM Batsman_Scored""", conn)

In [12]:
tables

   SUM(Runs_Scored)
0            165961

In [13]:
tables = pd.read_sql("""SELECT AVG(Runs_Scored) FROM Batsman_Scored""", conn)

In [14]:
tables

   AVG(Runs_Scored)
0          1.246918